<!--Footer-->
<footer class="grid">

    <!--Spacer-->
    <section class="footer-section"></section>

    <!--Github-->
    <section class="footer-section">
        <b>Source code</b>
        <br />
        <a href="https://github.com/soelu-staffbase/gdrive-copy" target="_blank">Github</a>
    </section>

    <section class="footer-section">
        If there are any question or need support please contact me (<a href="mailto:soeren.lubitz@staffbase.com">Sören Lubitz</a>)
    </section>

    <section class="footer-section"></section>

    <!--Spacer-->
    <section class="footer-section"></section>

</footer>